@cherry-red: #9e1b34;
html {
    height: 100%;
    width: 100%;
    body {
        margin: 0;
        header {
            background-color: @cyan-A200;
            position: absolute;
            top: 0px;
            height: 60px;
            left: 0px;
            right: 0px;

            h1 {
                position: absolute;
                top: 50%;
                margin-top: -25px;
                left: 25px;
            }
        }
        main {
            position: absolute;
            top: 60px;
            bottom: 50px;
            left: 0px;
            right: 0px;
            width: 100%;
        }
        footer {
            position: absolute;
            bottom: 0px;
            background-color: @grey-900;
            color: white;
            height: 50px;
            width: 100%;
            text-align: center;
            #heart-icon {
                background-image: url(/static/img/ic_favorite_outline_24px.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                padding: 0px 14px;
                width: 18px;
                height: 20px;
                display: inline-block;
                position: relative;
                opacity: 0.9;
                top: 4px;
                @media (max-width: 320px) {
                    padding: 0px 14px;
                    width: 16px;
                    height: 18px;
                }
            }
            #tudev-icon {
                background-image: url(/static/img/icon-tudev.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                padding: 0px 14px;
                width: 18px;
                height: 20px;
                display: inline-block;
                position: relative;
                opacity: 0.9;
                top: 4px;
                @media (max-width: 320px) {
                    padding: 0px 14px;
                    width: 16px;
                    height: 18px;
                }
            }
        }
    }
}
